@import "https://fonts.googleapis.com/css?family=Barlow+Condensed:900&display=swap";
.profile {
    background: url("../images/praveen.jpeg"), linear-gradient(0deg, white 33%, black 66%), url("../images/praveen.jpeg");
    background-position: 0px 0px, 0px 0%, 0px 0px;
    background-size: cover, 100% 300%, cover;
    background-blend-mode: luminosity, multiply;
    transition: all 1.5s;
    min-height: 750px;
    width: 40%;
    border-radius: 15%;
}

.profile:hover {
    background-position: 0px 0px, 0px 70%, 0px 0px;
}
.texture{
    background-color: #1b1e21;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.person-name{
    font-family: "Barlow Condensed", Arial, sans-serif;
    font-size: 40vh !important;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-align: center;
    position: absolute;
}
body{
    margin: 0;
}