.profile {
    background: url("../images/key.jpg"), linear-gradient(0deg, white 33%, black 66%), url("../images/key.jpg");
    background-position: 0px 0px, 0px 0%, 0px 0px;
    background-size: cover, 100% 300%, cover;
    background-blend-mode: luminosity, multiply;
    transition: all 1.5s;
    min-height: 600px;
    width: 40%;
    margin: 20px 20px;
}

.profile:hover {
    background-position: 0px 0px, 0px 70%, 0px 0px;
}
.texture{
    background: url("../images/background1.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
}