<!DOCTYPE html>
<html language="en">
<head>
    <!-- Load the path to your static files-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SE{% endblock %}</title>
    {% load static %}
{#    <link rel="shortcut icon" type="image/png" href="{% static 'PortfolioApp/images/favicon.ico' %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static 'PortfolioApp/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    {% block extra_header_links %}{% endblock %}
</head>
<body>
    {% block nav %}
    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Port4All</a></li>
            <li><a href="#">Home</a></li>
        </ul>

    </div>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li>
                <a href="/login">Login</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Portforall</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
    {% endblock %}
    {% block body %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
    {% block external_script %}{% endblock %}
</body>
</html>