{% extends "base.html" %}
{% block title %}PortforAll{% endblock %}

{% block body %}
    <div class="banner">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    Portfolio
                </div>
                <div class="banner-sub-heading">
                    A New Era to showcase your skills
                </div>
                <button class="btn-hover color-5">Discover <i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
{% endblock %}