{% load static %}
{% block extra_header_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'PortfolioApp/css/login.css' %}"/>
{% endblock %}
{% block body %}
{#    <section class="head-login">#}
{#        <div class="head-title">#}
{#            <h1>Enter the World.</h1>#}
{#        </div>#}
{#    </section>#}
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked/><label
                for="tab-1"  class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"/><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <form enctype="multipart/form-data" method="post" class="login">
                    {% csrf_token %}
                    <div class="sign-in-htm">
                        {% for field in login_form %}
                            <div class="group">
                                <span class="text-danger small">{{ field.errors }}</span>
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% endfor %}
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked/>
                            <label for="check"
                            ><span class="icon"></span> Keep me Signed in</label
                            >
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In" name="login"/>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </div>
                </form>
                <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <div class="sign-up-htm">
                        <div class="group">
                            {% for field in signup_form %}
                                <div class="group">
                                    <span class="text-danger small">{{ field.errors }}</span>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up" name="signup"/>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1"><a>Already Member?</a></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
