<!DOCTYPE html>
<html language="en">

<head>
    <!-- Load the path to your static files-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SE{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'PortfolioApp/images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'PortfolioApp/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block extra_header_links %}{% endblock %}
</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-sm  navbar-dark fixed-top" id="banner">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="{% url 'PortfolioApp:home' %}">PortforAll</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" onclick="openNav()"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown">PortfolioApps</a>
                        <div class="dropdown-menu">
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'PortfolioApp:home' %}">Create</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'PortfolioApp:home' %}">Create</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'PortfolioApp:home' %}">View</a>
                        </div>
                    </li>
                    {% if user.username %}
                    <li class="nav-item"><a href="{% url 'PortfolioApp:login' %}" class="nav-link"><i
                                class="fas fa-plus"></i>Edit</a></li>
                    <li class="nav-link hii">
                        <span>&#9995;</span> {{user.username}}</li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'PortfolioApp:logout' %}"><i
                                class="fas fa-power-off"></i>Logout</a>
            </div>
            </li>
            {% else %}
            <li class="nav-link hii"><span>&#9995;</span>Guest</li>
            <li class="nav-item"><a class="nav-link" href="{% url 'PortfolioApp:login' %}"><i
                        class="fas fa-power-off"></i>Login/Signup</a>
        </div>
        </li>
        {% endif %}
        </ul>
        </div>
        </div>
    </nav>
    {% endblock %}
    {% block body %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block external_script %}{% endblock %}
</body>

</html>